<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css" />
    <title>Code Bank | Home</title>
  </head>
  <body>
    <div class="wrapper">
      <nav>
        <div class="logo">
          <h1>Code Bank</h1>
        </div>

        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/customers">Customers</a></li>
          <li><a href="/transferhistory">Transfer History</a></li>
          <li id="internship">
            <a
              target="_blank"
              href="https://www.thesparksfoundationsingapore.org/"
              >The Spark Foundation</a
            >
          </li>
        </ul>
        <div class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </nav>
      <div class="intro">
        <div class="intro-text">
          <h1>Welcome to Code Bank</h1>
          <form action="/customers">
            <button >Transfer Money</button>
          </form>
        </div>
        <div class="intro-image">
          <img src="./img/bank.jpg" alt="" />
        </div>
      </div>
      <div class="about-us">
        <h1>About Us</h1>
        <p>
          We are committed to serving our millions of retail, business, wealth
          management, payment, commercial and corporate, and investment services
          customers across the country and around the world as a trusted
          financial partner.We are the leaders in financial services since 1960
          committed to understanding our Customer’s needs and aim at
          consistently delivering relevant financial solutions and excellent
          customer service.
        </p>
      </div>
      <div class="disclaimer">
        <h1>Disclaimer</h1>
        <p>
          This website is the outcome of a intern project, and does not
          necessarily represent the views of any organisation or any other
          individuals referenced or acknowledged within the website. Anyone may
          reproduce, distribute, adapt, translate the content on the website,
          without explicit permission, provided that the content is accompanied
          by an acknowledgement that Code Bank website is the source and that it
          is clearly indicated if changes were made to the original content.
        </p>
      </div>
      <footer>
        <p>&copy; 2021 Code Bank | Made by Raj Mhatre</p>
      </footer>
    </div>
    <script src="js/index.js"></script>
  </body>
</html>
