<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="stylesheet" href="css/transactionsuccessful.css">
    <title>Transaction Successful</title>
</head>
<body>
    <div class="container">
        <div class="image"></div>
        <div class="text">
            <img src="img/payment-success.png" alt="">
            <h1>Transaction Successful</h1>
            <p>Amount Paid: <span id="paid-amount"></span></p>
            <p>You can now safely close this tab</p>
            <form action="/">
                <button onclick=>Home</button>
            </form>
        </div>
    </div>
    <script src="js/transactionsuccessful.js"></script>
</body>
</html>
